hr {
    width: auto;
    height: 2px;
    background-color:#e5e6eb;
    border: 0 none;
    margin: auto 10px 10px auto;
}

/* unvisited link */
a:link {
    color:  #3b5998;
    text-decoration: none;
}

/* visited link */
a:visited {
    color:  #3b5998;
}

/* mouse over link */
a:hover {
    color: #ff8b94;
    text-decoration: none;
}

/* selected link */
a:active {
    color: #ff8b94;
    text-decoration: none;
}

.body-style {
    background-color: white;
}

.main-grid-container {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 20% 90%;
    justify-items: stretch;
}

.title-item {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 40px;
    color: #3b5998;
    padding-top: 40px;
    padding-bottom: 20px;
}

.content-grid-container {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 90%;
    justify-items: stretch;
    padding: 0px 30px 30px 30px;
}

.content-item-left {
    /*background-color: yellow;*/
    display: grid;
    grid-template-columns: 150px 150px 150px 150px;
    grid-template-rows: 150px 150px 150px 150px;
    margin-right: 20px;
    justify-items: center;
    justify-content: center;
    align-content: center;
}

.content-item-right {
    display: grid;
    /*background-color: blue;*/
    margin-left: 20px;
    justify-items: center;
    justify-content: center;
    align-content: center;
}

.cuisine-item {
    /*background-color: teal;*/
    display: grid;
    grid-template-columns: 150px;
    grid-template-rows: auto auto;
    height: 120px;
    width: 120px;
    justify-items: center;
    justify-content: center;
    align-content: center;
    margin: 15px 15px 15px 15px;
    border-radius: 5px;
    transition: box-shadow .3s;
}

.cuisine-item:hover {
    box-shadow: 0 0 35px rgba(33,33,33,.2);
    cursor: pointer;
}

.cuisine-item-title {
    justify-items: center;
    justify-content: center;
    align-content: center;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    text-align: center;
    /*padding-top: 90px;*/
}

.cuisine-item-image {
    justify-items: center;
    justify-content: center;
    align-content: center;
    font-size: 14px;
    text-align: center;
    width: 80px;
    height: 80px;
}

.lucky-item {
    /*background-color: teal;*/
    height: 570px;
    width: 570px;
    justify-items: center;
    justify-content: center;
    align-content: center;
    margin: 15px 15px 15px 15px;
    border-radius: 5px;
    transition: box-shadow .3s;
}

.lucky-item:hover {
    box-shadow: 0 0 35px rgba(33,33,33,.2);
    cursor: pointer;
}

.lucky-item-title {
    justify-items: center;
    justify-content: center;
    align-content: center;
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    text-align: center;
    padding-top: 280px;
}

.cuisine-title {
    display: grid;
    grid-template-columns: auto 800px auto;
    justify-items: stretch;
    text-align: left;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 35px;
    color: #3b5998;
    padding-top: 20px;
    padding-bottom: 15px;
    z-index: 2;
    transition: all 0.15s linear;
    overflow: auto;
    position: sticky; 
    top: 0; 
    background-color: white;
    margin: -10px -10px 0 -10px;
}

#cuisine-title.active {
     box-shadow: 0 25px 35px #e5e6eb;   
}

.cuisine-sub-title {
    display: grid;
    grid-template-columns: auto 800px auto;
    justify-items: stretch;
    text-align: left;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 14px;
    color: #3b5998;
    /*padding-top: 10px;*/
    padding-bottom: 10px;
}

.cuisine-sub-title-sticky {
    display: grid;
    grid-template-columns: auto 800px auto;
    justify-items: stretch;
    text-align: left;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 14px;
    color: #3b5998;
    /*padding-top: 10px;*/
    padding-bottom: 10px;
    z-index: 3;
    transition: all 0.15s linear;
    overflow: auto;
    position: sticky; 
    top: 120px; 
    background-color: white;
}

#cuisine-sub-title-sticky.active {
     box-shadow: 0 25px 35px #e5e6eb;
     margin: 0px -10px 0px -10px;
}

.restaurants-container {
    display: grid;
    grid-template-columns: auto 800px auto;
    justify-items: stretch;
    margin-top: 0px;
}

.restaurant-item-container {
    height: 110px;
    justify-items: center;
    justify-content: center;
    align-content: center;
    width: 375px;
    /*background-color: yellow;*/
    margin-top: 10px;
    margin-bottom: 15px;
    border-width: 1px;
    border-color: #e5e6eb;
    border-radius: 5px;
    border-style: solid;
    transition: box-shadow .3s;
}

.restaurant-item-container:hover {
    box-shadow: 0 0 35px #e5e6eb;
}

.restaurant-name {
    padding-left: 20px;
    padding-top: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 18px;
}

.restaurant-subtitle {
    padding-left: 20px;
    padding-top: 5px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 12px;
    color: #8d99ae;
}

.rating {
    unicode-bidi: bidi-override;
    color: #e5e6eb;
    font-size: 15px;
    height: 15px;
    width: 75px;
    margin: 0 auto;
    position: absolute;
    padding: 0;
    text-shadow: 0px 0px 0 #e5e6eb;
    justify-items: left;
    justify-content: left;
    align-content: left;
    margin-left: 0px;
    margin-top: -8px;
    /*background-color: blue;*/
}

.rating-upper {
  color: #fca311;
  padding: 0;
  position: absolute;
  z-index: 1;
  display: flex;
  top: 0;
  left: 0;
  overflow: hidden;
  width: 75px;
}

.rating-lower {
  padding: 0;
  display: flex;
  z-index: 0;
  width: 75px;
}

.dish-names-container {
    /*display: grid;
    grid-template-columns: auto auto auto auto auto;
    grid-template-rows: auto auto;*/
    text-align: left;
    margin-top: 5px;
    /*overflow: hidden;*/
}

.dish-names-item {
    display: inline-block;
    height: 20px;
    padding-top: 4px;
    padding-left: 6px;
    padding-right: 6px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 12px;
    border: 1px solid #3b5998;
    border-radius: 12px;
    margin: 5px 5px 5px 0;
    text-align: center;
}

.filter-container {
    height: 75px;
}

/* Dropdown Button */
.dropbtn {
    background-color: white;
    color: #3b5998;
    /*padding: 10px;*/
    font-size: 14px;
    border: 1px solid #e5e6eb;
    border-radius: 5px;
    height: 35px;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
  margin-top: 15px;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    background-color: #e5e6eb;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: white;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.search-text-box {
    display: inline-block;
    width: 365px;
    height: 35px;
    background-color: #e5e6eb;
    border-color: #8d99ae;
    border-width: 0px;
    border-radius: 5px;
    padding-left: 5px;
    padding-right: 5px;
    margin-bottom: 10px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: #3b5998;
}

.segmented-control-item {
    display: grid;
    grid-template-rows: : auto auto;
    margin-left: 65px;
}

.buttonGroup > li {
    display: inline-block;
    border: solid 1px #26547C;
    border-left: none;
    -webkit-border-radius: 0px;
    text-align: center;
    color: #26547C;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 9px;
    padding-bottom: 9px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 12px;
    cursor: pointer;
    margin-left: -4px;
}

.buttonGroup > li:first-child {
    border-left: solid 1px #26547C;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    color: #26547C;
}

.buttonGroup > li:last-child {
    -webkit-border-top-right-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
}

.buttonGroup > li.selected {
    background-color: #26547C;
    color: #fff;
    border-color: #26547C;
    font-weight: 500;
}